<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hmju.memo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${appLabel}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.home.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Memo"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.APP_BROWSER" />

                <data
                    android:host="qtzz.synology.me"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.intro.IntroActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Login"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.memo.MemoDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MemoDetail"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.gallery.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Gallery"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.imageEdit.ImageEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Memo"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.memo.ImageDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">

        </activity>

        <!-- [s] 카메라 캡처 관련 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.hmju.memo"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>